@font-face {
  font-family: "Lastochka";
  src: url("../fonts/Lastochka.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-color: #ffffff;
  --footer-text-color: #818181;
  --corner-color: #ffffff;
  --corner-size: 50px;
  --animation-duration: 2s;
  --bg-change-duration: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lastochka", cursive;
  font-size: 1.2em;
}

html,
body,
.background-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay-text {
  opacity: 0;
  animation: overlayFadeIn 0.8s 0.5s ease-out forwards;
}

@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-container {
  position: relative;
  background-image: url("../bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  transition: background-color var(--bg-change-duration) ease-in-out,
    background-blend-mode var(--bg-change-duration) ease-in-out;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 105, 180, 0.2),
      rgba(255, 105, 180, 0.3)
    ),
    url("../bg2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  transition: opacity var(--bg-change-duration) ease-in-out;
  z-index: 0;
}

.content {
  color: var(--main-text-color);
  padding: 20px;
  z-index: 2;
  max-width: 80%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.5em;
}

.corner {
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
  z-index: 2;
}

.top-right {
  top: 20px;
  right: 20px;
  border-top: 2px solid var(--corner-color);
  border-right: 2px solid var(--corner-color);
}

.bottom-left {
  bottom: 20px;
  left: 20px;
  border-bottom: 2px solid var(--corner-color);
  border-left: 2px solid var(--corner-color);
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--footer-text-color);
  font-size: 0.9em;
  padding: 5px 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.footer p {
  margin-top: 10px;
  font-size: 0.9em;
  padding: 5px 10px;
}

.footer-dark-text p {
  color: white;
  transition: color 0.5s ease;
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--animation-duration) forwards;
}

.delay-1s {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#audio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

#audio-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
  :root {
    --corner-size: 30px;
  }
  #audio-overlay {
    font-size: 1.5em;
    padding: 20px;
  }
}

.background-container.light-background {
  background-color: transparent;
  background-blend-mode: normal;
}

.background-container.light-background::before {
  opacity: 1;
}

.content.dark-text {
  color: white;
  font-weight: 600;
  transition: color 0.5s ease;
}

#change-moment-btn {
  padding: 10px 20px;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 1s ease, background-color 0.3s, color 0.3s;
  margin-bottom: 5px;
}

#change-moment-btn:hover {
  background-color: white;
  color: black;
}

.hidden-btn {
  opacity: 0;
  pointer-events: none;
}

.fade-in-btn {
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: opacity 2s ease-in-out;
}

.fade-out-btn {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 2s ease-out;
}

.fade-out-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in-content-new {
  animation: none;
  opacity: 0;
  animation: fadeInNew 1s ease-in-out forwards;
}

@keyframes fadeInNew {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
